/*
회원가입 css
*/

@font-face {
    font-family: "HMFMMUEX";
    src: url(../fonts/HMFMMUEX.TTC);
}

@font-face {
    font-family: "nanumgothic-bold";
    src: url(../fonts/NanumGothicBold.ttf);
}

@font-face {
    font-family: "malangmalang-bold";
    src: url(../fonts/HancomMalangMalang-Bold.ttf);
}

html, body{
    font-family: "HMFMMUEX";
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

ul {
    margin : 0;
    padding-inline-start: 18px;
    list-style-type: circle;
}

header {
    padding-top: 100px;
    padding-left: 12px;
    color : rgb(172, 164, 211)
}

input::placeholder {
    font-family: "nanumgothic-bold";
    color: rgb(195,195,195);
}

/* 공통 */
.hidden {
    display: none;
}

.green_font {
    color: rgb(63,213,81);
}


/* 아직 모르는거 */

.header_inner {
    font-family: "malangmalang-bold";
    width: 605px;
    margin: 0 auto;
    font-size: 60px;
}

.form_wrap {
    color : rgb(68,68,68);
    width: 500px;
    height: fit-content;
    margin: 0 auto;
    border: 0.68mm rgb(178, 188, 220, 0.5) solid;
    border-radius: 5px;
    padding: 50px;
}

.tag {
    font-size: 22px;
    margin-bottom: 8px;
}

.input_row{
    width: 100%;
    border-bottom: 2px solid  rgb(172, 164, 211);
    margin-bottom: 30px;
}

.pw_row {
    margin-bottom: 30px;
}

.pw_row, .nickname_row {
    width: 100%;
    border-bottom: 2px solid  rgb(172, 164, 211);
}

.pw_err_msg_wrap {
    color: rgb(235,38,38);
    font-size: 15px;
    margin-top: 2px;
}

.err_msg_wrap {
    color: rgb(235,38,38);
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 30px;
}

.nickname_row input {
    font-family: "nanumgothic-bold";
    border: 0;
    width: 366px;
    font-size: 18px;
    color: rgb(68,68,68);
}

.pw_row input {
    font-family: "nanumgothic-bold";
    border: 0;
    width: 470px;
    font-size: 18px;
    color: rgb(68,68,68);
    padding: 0px;
}

.small_button{
    font-family: "nanumgothic-bold";
    width: 120px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(178, 188, 220);
    font-size: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

.medium_button {
    font-family: "HMFMMUEX";
    border: 2px solid  rgb(178, 188, 220);
    width: 48%;
    border-radius: 10px;
    color: white;
    background-color: rgb(178, 188, 220);
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.medium_button_white {
    font-family: "HMFMMUEX";
    border: 2px solid  rgb(178, 188, 220);
    width: 48%;
    border-radius: 10px;
    color: rgb(68,68,68);
    background-color: white;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-right: 5px;
}

.gray_eye {
    color: rgb(195,195,195);
}

.green_eye {
    color: rgb(63,213,81);
}