<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="header">
<link rel="stylesheet" href="/community/css/header.css">

<div id="blackbox"></div>
<header>
    <div class="header_inner">
        <div class="title_menu_wrap">
				<span class="title"> 서리
					<img class="logo" src="/community/images/logo.jpg"/>
				</span>
            <div class="user_menu">
                <ul class="menu">
                    <li><a class="user_menu_active" href="">HOME</a></li>
                    <li><a class="menu" th:href="@{/members/mypage}">MY PAGE</a></li>
                    <li><a class="menu" >FOLLOW US</a></li>
                    <li>
                        <form th:if="${session.member != null && session.member.id != null}" method="post" th:action="@{/members/logout}">
                            <input id="logout_button" type="submit" value="LOGOUT">
                        </form>
                        <a th:if="${session.member == null || session.member.id == null}" class="menu" th:href="@{/members/login}"> LOGIN </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="category_list_box">
            <ul class="menu category_list">
                <li class="category_list_item">
                    <div class="category_box">
                        <div class="category">
                            <a th:href="@{/board/free}" class="${category == 'free' ? 'category_active' : }">자유게시판</a>
                        </div>
                    </div>
                </li>
                <li class="category_list_item">
                    <div class="category_box">
                        <div th:if="${category == 'game'}" class="category category_active">게임</div>
                        <div th:if="${category != 'game'}" class="category">
                            <a th:href="@{/board/game}">게임</a>
                        </div>
                    </div>
                    <div class="category_detail">
                        <div><a th:href="@{/board/game/online}">온라인</a></div>
                        <div><a th:href="@{/board/game/mobile}">모바일</a></div>
                        <div><a th:href="@{/board/game/console}">콘솔</a></div>
                    </div>
                </li>
                <li class="category_list_item">
                    <div class="category_box">
                        <div th:if="${category == 'sports'}" class="category category_active">스포츠</div>
                        <div th:if="${category != 'sports'}" class="category">
                            <a th:href="@{/board/sports}">스포츠</a>
                        </div>
                    </div>
                    <div class="category_detail">
                        <div><a th:href="@{/board/sports/soccer}">축구</a></div>
                        <div><a th:href="@{/board/sports/baseball}">야구</a></div>
                        <div><a th:href="@{/board/sports/basketball}">농구</a></div>
                        <div><a th:href="@{/board/sports/etc}">기타</a></div>
                    </div>
                </li>
                <li class="category_list_item">
                    <div class="category_box">
                        <div th:if="${category == 'pet'}" class="category category_active">애완동물</div>
                        <div th:if="${category != 'pet'}" class="category">
                            <a th:href="@{/board/pet}">애완동물</a>
                        </div>
                    </div>
                    <div class="category_detail">
                        <div><a th:href="@{/board/pet/dog}">강아지</a></div>
                        <div><a th:href="@{/board/pet/cat}">고양이</a></div>
                        <div><a th:href="@{/board/pet/etc}">기타</a></div>
                    </div>
                </li>
                <li class="category_list_item">
                    <div class="category_box">
                        <div th:if="${category == 'it_finance'}" class="category category_active">IT/금융</div>
                        <div th:if="${category != 'it_finance'}" class="category">
                            <a th:href="@{/board/it_finance}">IT/금융</a>
                        </div>
                    </div>
                    <div class="category_detail">
                        <div><a th:href="@{/board/it_finance/it}">IT</a></div>
                        <div><a th:href="@{/board/it_finance/finance}">금융</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
</body>
</html>