<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/community/css/index.css">
    <script src="https://kit.fontawesome.com/012cf477c7.js"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="header"></div>
<div class="container">
    <div class="content_banner">
        <th:block th:switch="${category}">
            <h1 th:case="'free'">자유</h1>
            <h1 th:case="'game'">게임</h1>
            <h1 th:case="'sports'">스포츠</h1>
            <h1 th:case="'pet'">애완동물</h1>
            <h1 th:case="'it_finance'">IT/금융</h1>
        </th:block>
        <form class="search_form">
            <select name="field">

                <option th:selected="${postSearch.field == 'title'}" value="title">
                    제목
                </option>
                <option th:selected="${postSearch.field == 'writer'}" value="writer">
                    글쓴이
                </option>
            </select>
            <input id="search_content" name="query" type="text" th:value="${postSearch.query}">
            <button class="search_button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <select name="order" class="order">
                <option th:selected="${postSearch.order == 'regdate'}" value="regdate">
                    날짜 순
                </option>
                <option th:selected="${postSearch.order == 'hit'}" value="hit">
                    조회수 순
                </option>
            </select>
        </form>
        <div class="order_edit_wrap">
            <a th:href="@{/board/new/{category}(category=${category})}"> <i class="fa-solid fa-pencil"></i></a>
        </div>
    </div>
    <div class="content">
        <table class="board">
            <colgroup>
                <col class="post_num" style="width:80px">
                <col>
                <col style="width:200px">
                <col style="width:80px">
                <col style="width:80px">
                <col style="width:200px">
            </colgroup>
            <tr>
                <th>NO.</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>좋아요</th>
                <th>날짜</th>
            </tr>

            <tr th:each="post : ${postList}">
                <td th:text="${post.postId}"></td>
                <td>
                    <a th:href="@{/board/{category}/{postCategory}/{id}(category=${category}, postCategory=${post.subCategory},id=${post.postId})}
" th:text="${post.title}">
                    </a>
                    <!--                    <span class="ballon" th:text="${commentCntMap[post.postId]}"></span>-->
                </td>
                <td th:text="${post.writer}"></td>
                <td th:text="${post.hit}"></td>
                <td th:text="${post.likes}"></td>
                <td th:text="${#temporals.format(post.regdate, 'yyyy년 MM월 dd일')}" type="both">
                    <!--                    <fmt:formatDate value="${post.regdate}" type="both"/>-->
                </td>
            </tr>
        </table>
        <div class="page_box">
            <ul>
<!--                <a th:if="${begin > 1}" th:href="@{?page={begin - 1}(begin=${begin})}">&lt;</a>-->
                <a th:if="${begin > 1}" th:href="@{?(page=${begin - 1})}">&lt;</a>
                <th:block th:if="${lastPage > 0}" th:each="i : ${#numbers.sequence(begin, end)}">
                    <li th:if="${i == page}" class="page_active" th:text="${i}"></li>
                    <a th:if="${i != page}"
                       th:href="@{?page={i}&field={field}&query={query}&order={order}(i=${i}, field=${postSearch.field}, query=${postSearch.query}, order=${postSearch.order})}"
                       th:text="${i}">
                    </a>
                </th:block>
                <a th:if="${lastPage > end}" th:href="@{?(page=${end + 1})}">&gt;</a>



                <!--                <th:each="" begin="${begin}" end="${end}" varStatus="st">-->
                <!--                    <th:if test="${st.index == page}">-->
                <!--                        <li class="page_active">${st.index}</li>-->
                <!--                    </th:if>-->
                <!--                    <th:if test="${st.index != page}">-->
                <!--                        <a href="?page=${st.index}&field=${postSearch.field}&query=${postSearch.query}&order=${postSearch.order}">-->
                <!--                            ${st.index}-->
                <!--                        </a>-->
                <!--                    </th:if>-->
                <!--                </th:each>-->
<!--                <a th:if="${lastPage > end}" href="?page=${end + 1}">&gt;</a>-->
            </ul>
        </div>
    </div>
</div>
</body>
</html>