<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세</title>
    <link rel="stylesheet" href="/community/css/write.css">

    <script src="https://kit.fontawesome.com/012cf477c7.js"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="header"></div>
<div class="container">
    <div class="content_banner">
        <h1 th:if="${category=='free'}">자유게시판</h1>
        <h1 th:if="${category=='game'}">게임게시판</h1>
        <h1 th:if="${category=='sports'}">스포츠게시판</h1>
        <h1 th:if="${category=='pet'}">애완동물게시판</h1>
        <h1 th:if="${category=='it_finance'}">IT/금융게시판</h1>
    </div>
    <form th:action="@{/board/new/{category}(category=${category})}" method="post">
        <div class="post_header">
            <input name="title" class="post_title" placeholder="제목을 입력해 주세요."/>
            <select name="subCategory" style="float: right;" required>
                <option th:if="${category == 'free'}" selected value="free">자유</option>
                <th:block th:if="${category == 'game'}">
                    <option value="online">온라인</option>
                    <option value="mobile">모바일</option>
                    <option value="console">콘솔</option>
                </th:block>
                <th:block th:if="${category == 'sports'}">
                    <option value="soccer">축구</option>
                    <option value="baseball">야구</option>
                    <option value="basketball">농구</option>
                    <option value="etc">기타</option>
                </th:block>
                <th:block th:if="${category == 'pet'}">
                    <option value="dog">강아지</option>
                    <option value="cat">고양이</option>
                    <option value="etc">기타</option>
                </th:block>
                <th:block th:if="${category == 'it_finance'}">
                    <option value="it">IT</option>
                    <option value="finance">금융</option>
                </th:block>
            </select>
        </div>
        <textarea name="content" class="post_content"
                  placeholder="내용을 입력해 주세요."></textarea>
        <input class="write_btn" type="button" onclick="history.back()" value="취소"></input>
        <input class="write_btn" type="submit" value="제출"></input>
    </form>
</div>
</body>
</html>